<h1>Home</h1>
<hr>
<% if logged_in? %>
<h2>Post</h2>
<% @posts.each do |post| %>
  <p><%= post.title %><%=" : "%><%= post.content %></p>
<% end %>
<h2>Category</h2>
<% @categories.each do |category| %>
  <p><%= category.title %></p>
<% end %>
<h2>Comment</h2>
<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>

<% end %>

