<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post1.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post1.content %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post1.category_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @post1.user_id %>
</p>
<small>Created at: <%= @post1.created_at.strftime("%b %d. %Y") %></small><br>
<small>category: <%= @post1.category.title %></small>

<!-----Tim Apply post to comment-->
<!--% if logged_in? %-->
  <% @pst1_comments.each do |comment| %>
    <p>------------------------------</p>
    <p><%= current_user.name %><%= ":" %><%= link_to comment.content, comment %></p>
  <% end %>
<hr>
<%= link_to 'New Comment', new_comment_path(@post1), class: "btn btn-success" %><br>
<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
