<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post1.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post1.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post1.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post1.user_id %>
</p>

<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
