<!DOCTYPE html>
<html>
<head>
  <title>Postit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="logo"></div>
<%= image_tag("logos/logo.png",width: '150px') %>
</div>
<br>
<%= render "shared/nav" %>
<%= yield %>

</body>
</html>
